body {
    background-color: #838282;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 10vmin;
    animation: gradient 30s ease infinite;
    background-image: linear-gradient(-225deg,
            rgb(11, 109, 11) 0%,
            rgb(9, 12, 187) 29%,
            rgb(16, 116, 16) 67%,
            rgb(4, 97, 43) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-size: 400% 400%;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#displayMessage {
    text-align: center;
    font-size: 2vmin;
    /* animation: 2s anim-popoutin ease infinite; WORKS BUT IS KIND OF ANNOYING */
}

/* @keyframes anim-popoutin {                      WORKS BUT IS KIND OF ANNOYING
    0% {
        color: rgb(85, 20, 82);
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
        25% {
        color: rgb(238, 38, 211);
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
        color: rgb(85, 20, 82);
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
    /* animate nothing to add pause at the end of animation 
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
} */


#bg-player {
    margin-top: 2vmin;
    width: 20vmin;
}


#topButtons {
    grid-template-rows: 10vmin;
    grid-template-columns: repeat(7, 10vmin);
}

/** Need to make buttons more responsive 
    Annimate.CSS slideInDown would be awesome **/
.top {
    margin-bottom: 2vmin;
    border: none;
    height: 8vmin;
    width: 8vmin;
    gap: 2vmin;
    margin-left: 1.3vmin;
    margin-right: 1.3vmin;
    background-color: #838282;
    font-size: 40px;
}

.top:hover {
    opacity: 0.0;

}

#gameBoard {
    display: grid;
    grid-template-rows: repeat(6, 10vmin);
    grid-template-columns: repeat(7, 10vmin);
    gap: 1vmin;
    height: 66vmin;
    width: 80vmin;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 5px solid black;
    animation: gradient 30s ease infinite;
    /* background: linear-gradient(45deg, rgb(226, 74, 240), rgb(125, 23, 172), rgb(44, 222, 253), rgb(65, 1, 107), rgb(13, 13, 70), rgb(207, 43, 194)); */
    background: linear-gradient(45deg, rgb(11, 109, 11), rgb(16, 116, 16), rgb(9, 12, 187), rgb(4, 97, 43));
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#gameBoard>div {
    display: grid;
    margin-top: .8vmin;
    border-radius: 50%;
    border: .4vmin solid rgb(46, 46, 46);
    align-content: center;
    height: 8vmin;
    width: 9vmin;
}

#resetGame {
    height: 5vmin;
    width: 18vmin;
    margin-top: 2vmin;
    border: 5px solid black;
    border-radius: 5px;
    /* background-color: rgb(8, 2, 99); */
    color: rgb(48, 47, 47);
    animation: gradient 30s ease infinite;
    /* background: linear-gradient(45deg, rgb(226, 74, 240), rgb(125, 23, 172), rgb(44, 222, 253), rgb(65, 1, 107), rgb(13, 13, 70), rgb(207, 43, 194)); */
    background: linear-gradient(45deg, rgb(11, 109, 11), rgb(9, 12, 187), rgb(16, 116, 16), rgb(4, 97, 43));
    background-size: 400% 400%;
}

#last {
    height: 5vmin;
    width: 18vmin;
    justify-content: right;
    margin-top: 2vmin;
    border: 5px solid black;
    border-radius: 5px;
    /* background-color: rgb(8, 2, 99); */
    color: rgb(48, 47, 47);
    animation: gradient 30s ease infinite;
    /* background: linear-gradient(45deg, rgb(226, 74, 240), rgb(125, 23, 172), rgb(44, 222, 253), rgb(65, 1, 107), rgb(13, 13, 70), rgb(207, 43, 194)); */
    background: linear-gradient(45deg, rgb(11, 109, 11), rgb(9, 12, 187), rgb(16, 116, 16), rgb(4, 97, 43));
    background-size: 400% 400%;

}

/** Code snippet from Nash Vail https://codepen.io/nashvail/pen/wpGgXO **/
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -2;
}

/** Code snippet from Nash Vail https://codepen.io/nashvail/pen/wpGgXO **/